#forum {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

#forum td, #forum th {
    border: 1px solid #ddd;
    padding: 8px;
}

#forum tr:nth-child(even){background-color: #f2f2f2;}

#forum tr:hover {background-color: #ddd;}

#forum th {
    text-transform: uppercase;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

.opened {
    background-color: #B7CA79;
}
.closed {
    background-color: #E70739;
}

div {
    width: 100%;
    height: 10%;
    background-color: #4CAF50;
}